<script type="text/javascript">
    RED.nodes.registerType('mtls-in',{
        category: 'digit',
        color: "#996633",
        defaults: {
            name: {value:""},
            port: {value:""},
	    servercert: {value:""},
	    serverkey: {value:""},
	    cacert: {value:""}
        },
        inputs: 0,
        outputs: 1,
        icon: "white-globe.svg",
        label: function() {
            return this.name||"mtls-in";
        }
    });
</script>

<script type="text/html" data-template-name="mtls-in">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-port"><i class="fa fa-tag"></i> Port</label>
        <input type="text" id="node-input-port" style="width: 65px">
    </div>
    
    <div class="form-row">
        <label>Server Certificate</label><br />
	<textarea id="node-input-servercert" class="fa" rows="16" style="width: 600px;" ></textarea>
    </div>

    <div class="form-row">
        <label>Server Key</label><br />
	<textarea id="node-input-serverkey" class="fa" rows="16" style="width: 600px;" ></textarea>
    </div>

    <div class="form-row">
        <label>CA Certificate</label><br />
	<textarea id="node-input-cacert" class="fa" rows="16" style="width: 600px;"></textarea>
    </div>

</script>

<script type="text/html" data-help-name="mtls-in">
    <p>An HTTPS server that does mutual TLS authentication</p>
</script>
