<script type="text/javascript">
    RED.nodes.registerType('mtls-out',{
        category: 'digit',
        color: "#996633",
        defaults: {
            name: {value:""},
            code: {value:""}
        },
        inputs: 1,
        outputs: 0,
        icon: "white-globe.svg",
        label: function() {
            return this.name||"mtls-out";
        }
    });
</script>

<script type="text/html" data-template-name="mtls-out">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-code"><i class="fa fa-tag"></i> Status Code</label>
        <input type="text" id="node-input-code" style="width: 65px">
    </div>
    

</script>

<script type="text/html" data-help-name="mtls-out">
    <p>An mutual HTTPS server response</p>
</script>
