<script type="text/javascript">
    RED.nodes.registerType('mtls-request',{
        category: 'digit',
        color: "#996633",
        defaults: {
          name: {value:""},
          port: {value:""},
	        host: {value:""},
          path: {value:"/"},
	        cert: {value:""},
	        key: {value:""},
	        cacert: {value:""}
        },
        inputs: 1,
        outputs: 1,
        icon: "white-globe.svg",
        label: function() {
            return this.name||"mtls-request";
        }
    });
</script>

<script type="text/html" data-template-name="mtls-request">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-host"><i class="fa fa-tag"></i> Host</label>
        <input type="text" id="node-input-host" style="width: 165px">
    </div>

    <div class="form-row">
        <label for="node-input-path"><i class="fa fa-tag"></i> Path</label>
        <input type="text" id="node-input-path" style="width: 165px">
    </div>

    <div class="form-row">
        <label for="node-input-port"><i class="fa fa-tag"></i> Port</label>
        <input type="text" id="node-input-port" style="width: 65px">
    </div>
    
    <div class="form-row">
        <label>Client Certificate</label><br />
	<textarea id="node-input-cert" class="fa" rows="16" style="width: 600px;" ></textarea>
    </div>

    <div class="form-row">
        <label>Client Key</label><br />
	<textarea id="node-input-key" class="fa" rows="16" style="width: 600px;" ></textarea>
    </div>

    <div class="form-row">
        <label>CA Certificate</label><br />
	<textarea id="node-input-cacert" class="fa" rows="16" style="width: 600px;"></textarea>
    </div>

</script>

<script type="text/html" data-help-name="mtls-request">
    <p>An HTTPS client that does mutual TLS authentication</p>
</script>
